
<title>Write Data to a File</title>
<h1>Welcome to the ACME Employee Directory</h1>

<p>
    The AMCE employee directory allows you to add and manage ACME employees. Simply register to create an account, login, begin adding employees, and assign them to the appropriate department/job title. 
</p>
<!----<a href='@Url.Action("login", "account")' class="btn btn-primary">Login</a>-->